/dataset/

/new_train_10/*/images/
/new_train_10_lr_0.0001/*/images/
/new_train_100/*/images/
/new_train_100_lr_0.0001/*/images/
/new_train_500/*/images/
/new_train_500_lr_0.0001/*/images/
/new_train_1000/*/images/
/new_train_1000_lr_0.0001/*/images/
/new_train_1800/*/images/
/new_train_1800_lr_0.0001/*/images/